:root {
    color-scheme: light;
    --border-container: 1px solid #ccc;
    --color-bg-container: rgba(236, 236, 236, 0.95);
    --shadow-container: 6px 14px 10px 4px rgba(0, 0, 0, 0.25);
    --icon-fill: #797979;
    --icon-fill-hover: rgba(86, 86, 86, 0.95);
    --color-btn-action-active: #fff;
    --bg-img: url("/images/bg_light_medium.jpg");

    --border-btn-dec: 2px solid #C60000;
    --color-bg-btn-dec: #EFEFEF;
    --color-bg-btn-dec-active: #b02626;


    --border-btn-sav: 2px solid #0A0796;
    --color-bg-btn-sav: #EFEFEF;
    --color-bg-btn-sav-active: #3b3b75;

    --border-btn-inc: 2px solid #07B44C;
    --color-bg-btn-inc: #EFEFEF;
    --color-bg-btn-inc-active: #07B44C;
}

body {
    background-image: var(--bg-img);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 650px;
    height: 480px;
    border: var(--border-container);
    place-items: center;
    display: grid;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-bg-container);
    border-radius: 56px;
    box-shadow: var(--shadow-container);
}

div .btn {
    border-radius: 32px;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
}

div .btn:active {
    color: var(--color-btn-action-active);
    box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.25);
}

#btn-dec {
    border: var(--border-btn-dec);
    background: var(--color-bg-btn-dec);
    margin-right: 40px;
}

#btn-sav {
    height: 48px;
    width: 460px;
    background: var(--color-bg-btn-sav);
    border: var(--border-btn-sav);
}

#btn-inc {
    border: var(--border-btn-inc);
    background: var(--color-bg-btn-inc);
}

#btn-dec:active {
    background: var(--color-bg-btn-dec-active);
}

#btn-inc:active {
    background: var(--color-bg-btn-inc-active);
}

#btn-sav:active {
    background: var(--color-bg-btn-sav-active);
}

.btn-normal {
    width: 212px;
    height: 48px;
    transition: background-color 0.6s
}


/* DARK THEME */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --border-container: 1px solid #ccc;
        --color-bg-container: rgba(49, 49, 49, 0.95);
        --shadow-container: 6px 14px 10px 4px rgba(0, 0, 0, 0.25);
        --icon-fill: #ccc;
        --icon-fill-hover: rgba(236, 236, 236, 0.95);
        --color-btn-action-active: #fff;
        --bg-img: url("/images/bg_medium.jpg");

        --border-btn-dec: none;
        --color-bg-btn-dec: #CC6363;
        --color-bg-btn-dec-active: #b02626;


        --border-btn-sav: none;
        --color-bg-btn-sav: #5E5D9A;
        --color-bg-btn-sav-active: #3b3b75;

        --border-btn-inc: none;
        --color-bg-btn-inc: #519E70;
        --color-bg-btn-inc-active: #07B44C;
    }
}

:root[data-theme="dark"] {
    color-scheme: dark;

    --border-container: 1px solid #ccc;
    --color-bg-container: rgba(49, 49, 49, 0.95);
    --shadow-container: 6px 14px 10px 4px rgba(0, 0, 0, 0.25);
    --icon-fill: #ccc;
    --icon-fill-hover: rgba(236, 236, 236, 0.95);
    --color-btn-action-active: #fff;
    --bg-img: url("/images/bg_medium.jpg");

    --border-btn-dec: none;
    --color-bg-btn-dec: #CC6363;
    --color-bg-btn-dec-active: #b02626;


    --border-btn-sav: none;
    --color-bg-btn-sav: #5E5D9A;
    --color-bg-btn-sav-active: #3b3b75;

    --border-btn-inc: none;
    --color-bg-btn-inc: #519E70;
    --color-bg-btn-inc-active: #07B44C;
}

/* LIGHT THEME with Toggle */
:root[data-theme="light"] {
    color-scheme: light;
    --border-container: 1px solid #ccc;
    --color-bg-container: rgba(236, 236, 236, 0.95);
    --shadow-container: 6px 14px 10px 4px rgba(0, 0, 0, 0.25);
    --icon-fill: #797979;
    --icon-fill-hover: rgba(86, 86, 86, 0.95);
    --color-btn-action-active: #fff;
    --bg-img: url("/images/bg_light_medium.jpg");

    --border-btn-dec: 2px solid #C60000;
    --color-bg-btn-dec: #EFEFEF;
    --color-bg-btn-dec-active: #b02626;


    --border-btn-sav: 2px solid #0A0796;
    --color-bg-btn-sav: #EFEFEF;
    --color-bg-btn-sav-active: #3b3b75;

    --border-btn-inc: 2px solid #07B44C;
    --color-bg-btn-inc: #EFEFEF;
    --color-bg-btn-inc-active: #07B44C;
}

/* RESPONSIVENESS */

/* Extra Small Devices (Phones): */
@media only screen and (max-width: 576px) {
    :root {
        --bg-img: none;
        --color-bg-container: rgba(256, 256, 256, 1);
    }
    body {
        background-image: var(--bg-img);
    }

    h1 {
        font-size: large;
    }

    .container {
        width: 100vw;
        height: 100vh;
        margin: auto;
        border-radius: 0;
        background-color: var(--color-bg-container);
    }

    #btn-sav {
        width: 80vw;
        margin-top: 48px;
    }

    .container > div {
        width: 100vw;
    }

    .btn-normal {
        width: 80vw;
        margin-top: 48px;
        height: 48px;
        transition: background-color 0.6s
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-bg-container: rgba(49, 49, 49, 0.95);
        }
    }

    :root[data-theme="dark"] {
        --color-bg-container: rgba(49, 49, 49, 0.95);
    }

    :root[data-theme="light"] {
        --color-bg-container: rgba(256, 256, 256, 1);
    }
}

/* Small Devices (Tablets - Portrait): */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}

/* Medium Devices (Tablets - Landscape): */
/* Breakpoint: @media only screen and (min-width: 768px) and (max-width: 991.98px) */

/* Large Devices (Desktops - Small Screens): */
/* Breakpoint: @media only screen and (min-width: 992px) and (max-width: 1199.98px) */

/* Extra Large Devices (Desktops - Large Screens): */
/* Breakpoint: @media only screen and (min-width: 1200px) */