:root {
    color-scheme: dark light;
}

body {
    background-image: url("/images/bg_light_medium.jpg");
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 650px;
    height: 480px;
    border: 1px solid #ccc;
    place-items: center;
    display: grid;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(236, 236, 236, 0.95);
    border-radius: 56px;
    box-shadow: 6px 14px 10px 4px rgba(0, 0, 0, 0.25);
}

#btn-dec {
    border-radius: 32px;
    border: 2px solid #C60000;
    background: #EFEFEF;
    box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.25);
    margin-right: 40px;
}

#btn-sav {
    height: 48px;
    width: 460px;
    border-radius: 32px;
    border: 2px solid #0A0796;
    background: #EFEFEF;
    box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.6s
}

#btn-inc {
    border-radius: 32px;
    border: 2px solid #07B44C;
    background: #EFEFEF;
    box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.25);
}

#btn-dec:active {
    background: #C60000;
    color: #ffffff;
}

#btn-inc:active {
    background: #07B44C;
    color: #ffffff;
}

#btn-sav:active {
    background: #0A0796;
    color: #ffffff;
}

.btn-normal {
    width: 212px;
    height: 48px;
    transition: background-color 0.6s
}

#toggle-theme {
    width: 120px;
    height: 32px;
    border-radius: 32px;
    /*outline: 0;*/
    border: none;
    background: #D9D9D9;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.6s;
}

#toggle-theme:active {
    background: #000000;
    color: #ffffff;
}


/* DARK THEME */
@media (prefers-color-scheme: dark) {
    body {
        background-image: url("/images/bg_medium.jpg");
    }

    .container {
        background: rgba(49, 49, 49, 0.95);
    }


    #btn-dec {
        background: #CC6363;
        border: none;
    }

    #btn-inc {
        background: #519E70;
        border: none;
    }

    #btn-sav {
        background: #5E5D9A;
        border: none;
    }

    #toggle-theme {
        background: #828282;
    }
}

/* RESPONSIVENESS */

/* Extra Small Devices (Phones): */
@media only screen and (max-width: 576px) {
    body {
        background-image: none;
    }

    h1 {
        font-size: large;
    }
    .container {
        width: 100vw;
        height: 100vh;
        margin: auto;
        border-radius: 0;
        background-color: rgba(256, 256, 256, 1);
    }

    #btn-sav {
        width: 80vw;
        margin-top: 48px;
    }

    .container > div  {
        width: 100vw;
    }

    .btn-normal {
        width: 80vw;
        margin-top: 48px;
        height: 48px;
        transition: background-color 0.6s
    }

    @media (prefers-color-scheme: dark) {
        .container {
            background: rgba(49, 49, 49, 0.95);
        }
    }

    .theme-toggle {
        /*display: none;*/
    }
}

/* Small Devices (Tablets - Portrait): */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}

/* Medium Devices (Tablets - Landscape): */
/* Breakpoint: @media only screen and (min-width: 768px) and (max-width: 991.98px) */

/* Large Devices (Desktops - Small Screens): */
/* Breakpoint: @media only screen and (min-width: 992px) and (max-width: 1199.98px) */

/* Extra Large Devices (Desktops - Large Screens): */
/* Breakpoint: @media only screen and (min-width: 1200px) */